@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './aside.css';
@import './scroll.css';
@import './input-file.css';


[x-cloak] {
    display: none;
}

.wrapper__main__container {
    @apply w-auto ml-72 min-h-screen transition-all ease-in-out duration-1000 bg-slate-100 relative;
}
/* Animación de loaders de gráficas */
.container__spinner {
    background-color: rgba(253, 254, 254, 0.8);
}
.spinner__chart {
   position: relative;
   width: 56px;
   height: 56px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spinner__chart::before,
.spinner__chart::after {
   border: 6.7px solid #a00a0a;
   border-radius: 50%;
   position: absolute;
   content: '';
   display: block;
}

.spinner__chart::before {
   width: 33.6px;
   height: 33.6px;
   border-bottom-color: transparent;
   border-left-color: transparent;
   animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner__chart::after {
   animation: spinner-1o3y8q 0.5s infinite linear;
   height: 56px;
   width: 56px;
   border-right-color: transparent;
   border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
   to {
      transform: rotate(360deg);
   }
}

/*------    Loaders ----------*/
.container-loader {
    background-color: rgba(253, 254, 254, 0.8);
}

.loader-download {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #D4AC0D;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-download::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #7B241C;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}