aside {
    @apply w-0 h-0 sticky z-40 top-0;
}
.container__full {
    width: 100% !important;
    margin-left: 0px !important;
}
.wrapper__aside {
    @apply bg-white w-72 h-screen overflow-y-auto transition-all ease-in-out duration-1000 border-r shadow;
}
.nav__main__container {
    @apply p-0 m-0;
}
.list__item {
    @apply list-none border-b border-slate-200;
}
.list__item a {
    @apply cursor-pointer relative transition ease-in-out duration-700 border-l-4 border-white flex items-center py-4 px-5 text-xs font-normal text-slate-600 hover:border-l-4 hover:border-green-800 hover:bg-slate-100;
}

.list__item a.active {
    @apply !border-green-800 !bg-gray-100;
}
.list__item a > span {
    @apply flex-1 ml-3 whitespace-nowrap;
}

/* .down__item > a span {
    @apply w-40;
} */
.list__item a i:last-child {
    @apply transition-all ease-in-out duration-700;
}

.list__down__container {
    @apply hidden relative overflow-hidden pl-10 transition-all ease-in-out duration-700;
}
.list__down__container .list__item {
    @apply relative border-b-0;
}

.list__down__container .list__item a.active {
    @apply !border-white !bg-white text-red-800;
}

.list__down__container .list__item a {
    @apply text-sm relative hover:!text-red-700 pl-3 border-white;
}

.list__down__container .list__item::before {
    @apply absolute h-full w-4 -left-3 -top-full content-[''] block border-l-2 border-slate-400;
}

.list__down__container .list__item::after {
    @apply absolute h-2/4 w-4 -left-3 -top-0 content-[''] block border-l-2 border-b-2 border-slate-400;
}

.aside__open {
    @apply translate-x-0;
}
.aside__close {
    @apply -translate-x-72;
}

/*  Scroll de aside  */
.wrapper__container__aside {
    @apply overflow-auto block;
    border-top: 1px solid rgba(242, 243, 244, 0.3);
    scrollbar-width: none;
}
/** Estilo de scroll  **/
#wrapper__container__aside::-webkit-scrollbar {
    @apply hidden;
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

#wrapper__container__aside::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

#wrapper__container__aside::-webkit-scrollbar-thumb {
    background-color: #85929E;    /* color of the scroll thumb */
    border-radius: 4px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
}