::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
[type=file] {
    @apply w-full border border-teal-700 focus:border-teal-700 focus:ring-teal-700 rounded shadow-sm focus:ring-2 focus:outline-none;
}

input[type=file]::file-selector-button {
    -webkit-margin-start: -1rem;
    -webkit-margin-end: 1rem;
    @apply border-[0px] bg-emerald-800 text-white cursor-pointer font-semibold text-sm;
    margin-inline-end: 1rem;
    margin-inline-start: -1rem;
    padding: .625rem 1rem .625rem 2rem
}

input[type=file]::file-selector-button:hover {
    @apply bg-emerald-700;
}

.form-input[type=file] {
    @apply p-0;
}