/** Estilo de scroll  **/
::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #85929E;    /* color of the scroll thumb */
    border-radius: 4px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
}